.mask {
    width: 150px;
}
.move-left {
    top: 200px;
    left: 100px;
    position: absolute;
    z-index: 150;
}

.move-right {
    top: 200px;
    left: 1200px;
    position: absolute;
    z-index: 150;
}
